:root {
  --french-violet: rgb(111, 45, 189);
  --amethyst: rgb(166, 99, 204);
  --wisteria: #b298dc;
  --beau-blue: #b8d0ebff;
  --celeste: rgb(183, 250, 248);
  --dark: #4a2c4a;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 10px;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
}

.navbar {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-items-container {
  display: flex;
  flex: 2;
  justify-content: center;
}

.nav-logo {
  flex: 1;
  margin: 0 5rem;
}

.nav-logo-img {
  height: 10rem;
}

.nav-item {
  margin: 1.5rem;
  flex: 2;
}

.nav-item a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  font-family: "Pacifico", cursive;
  color: var(--dark);
}

.fab {
  color: black;
}

/* *********************return to style******************** */
.nav-item a:hover,
.nav-logo-img:hover {
  color: var(--wisteria);
  text-shadow: 0 0 2rem var(--celeste);
  padding: 10px;
  border-radius: 25px;
}

.nav-icon-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-icon-container .fa {
  color: var(--wisteria);
  text-shadow: 0 0 2rem var(--celeste);
}

.background-img {
  height: 700px;
  background-image: url(../images/mountain0.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.moon {
  height: 15rem;
  position: absolute;
  top: 12%;
  left: -8%;
  animation: movingMoon 25s linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

.title {
  font-size: 6.5rem;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark);
  text-shadow: 0 0 2rem var(--celeste);
}

.intro {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.336);
  padding: 10px;
  border-radius: 25px;
  color: var(--beau-blue);
}

.profile-img {
  size: 30%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-img img {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 2rem var(--celeste);
}

.sub-headings {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  margin: 25px;
}

.useful-info {
  text-align: center;
  font-size: 1.5rem;
}
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: linear-gradient(
    to right,
    #8b9de0,
    #999fe1,
    #a7a1e2,
    #b3a3e2,
    #bfa5e2,
    #c2a4e2,
    #c6a3e2,
    #c9a2e2,
    #c59de3,
    #c199e4,
    #bd94e6,
    #b890e7
  );
}

.project-card {
  width: 40rem;
  height: 20rem;
  margin: 5rem 3rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1rem 4rem 0 var(--dark), 0 1rem 2rem 0 var(--celeste);
  transition: all 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.project-buttons {
  position: absolute;
  bottom: -20%;
  left: 25%;
}
.lg-project-buttons {
  position: absolute;
  bottom: -8%;
  left: 40%;
}

.project-live-buttons,
.project-repo-buttons {
  display: inline-block;
  height: 45px;
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: var(--dark);
  font-size: 2rem;
  font-weight: 300;
  color: var(--celeste);
  margin: 1rem;
}

.project-title {
  position: absolute;
  top: 0;
  transform: translate(0, -70%);
  font-family: "Pacifico", cursive;
  background-color: none;
  color: var(--dark);
  width: 100%;
  text-align: center;
  font-size: 4rem;
  border-radius: 0px 0px 10px 10px;
}

#lg-project {
  width: 80rem;
  height: 50rem;
}

.line-break {
  position: absolute;
  display: block;
  left: 25%;
  border-radius: 70%;
  width: 50%;
  height: 5px;
  background-color: var(--wisteria);
  box-shadow: 0 0 2rem var(--celeste);
}

/* form styling */
input,
textarea {
  outline: none;
}

.form-background {
  height: 500px;
  background-image: url(../images/mountain0.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

form {
  position: relative;
  width: 70%;
  background: transparent;
  text-align: center;
}

.form-inner {
  padding: 40px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background: #d0dfe8;
}

.form-inner textarea {
  resize: none;
}

.form-button {
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background: var(--dark);
  font-size: 2rem;
  font-weight: 600;
  color: var(--celeste);
  box-shadow: 0 1rem 2rem 0 var(--dark), 0 1rem 2rem 0 var(--celeste);
}

button:hover {
  background: var(--amethyst);
  color: var(--white);
  box-shadow: 0 1rem 2rem 0 var(--celeste), 0 1rem 2rem 0 var(--celeste);
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-footer {
  display: flex;
}

/* media queries */
@media (min-width: 568px) {
  form {
    width: 60%;
  }
}

/* extra small device */
@media screen and (max-width: 575.98px) {
  .navbar {
    flex-direction: column;
  }
  .nav-items-container {
    flex-direction: column;
  }
  .projects-container {
    flex-direction: column;
  }
  .moon {
    display: none;
  }
  .title {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: auto;
  }
  .intro {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 70%;
  }
  .profile-img {
    top: 80%;
    left: 45%;
  }

  .sub-headings {
    font-size: auto;
  }
  footer {
    display: none;
  }

  #lg-project {
    width: 40rem;
    height: 30rem;
  }
  .lg-project-buttons {
    bottom: -10%;
    left: 25%;
  }
}

/* small device */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .title {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-size: 4.5rem;
  }

  .intro {
    top: 45%;
    left: 50%;
  }

  .profile-img {
    top: 76%;
    left: 45%;
  }

  .nav-icon-container {
    display: none;
  }
  .nav-item a {
    font-size: 2rem;
  }

  #lg-project {
    width: 60rem;
    height: 36rem;
  }
  .lg-project-buttons {
    bottom: -10%;
    left: 35%;
  }
}

/* medium device */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .title {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-size: 5.5rem;
  }

  .intro {
    top: 45%;
    left: 50%;
  }

  .profile-img {
    top: 76%;
    left: 48%;
  }

  footer {
    display: none;
  }

  #lg-project {
    width: 60rem;
    height: 35rem;
  }

  .lg-project-buttons {
    bottom: -10%;
    left: 35%;
  }
}

/* large device */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .title {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-size: 5.5rem;
  }

  .intro {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  footer {
    display: none;
  }
}

/* extra large device */
@media (min-width: 1200px) {
  footer {
    display: none;
  }
}

/* media query- moon animation */
@keyframes movingMoon {
  0% {
    top: 20%;
    left: 5%;
  }
  30% {
    top: 5%;
    left: 30%;
  }
  40% {
    top: 3%;
    left: 40%;
  }
  60% {
    top: 8%;
    left: 60%;
  }
  100% {
    top: 30%;
    left: 100%;
  }
}
